@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

  
$primary-color: #53917E
$text-color: #594E36
$secondary-color: #B1B695
$third-color: #D5ECD4
$last-color: #2F2504
$font-family: 'Lato', sans-serif;


html 
  box-sizing: border-box


html,
body 
  margin: 0
  padding: 0
  height: 100%

  
*,
*:before,
*:after 
  box-sizing: inherit

a 
  color: $primary-color
  &:hover
    color: $primary-color
header 
  background-color: $primary-color
  box-shadow: 3px 0 8px #000000
  position: fixed
  width: 100%

  .navbar-brand
    color: $third-color !important

  .nav-link
    color: $text-color !important
    font-family: $font-family
    text-transform: uppercase

    &:hover
      color: $last-color !important

  .active
    color: $last-color !important
    font-weight: bold !important

  .navbar-collapse
    flex-basis: 100%  
    @media (min-width: 992px) 
      flex-basis: 100%      

    .navbar-toggler
      border-width: 0px

  .navbar-light
    .navbar-toggler-icon
      background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>")

.home-container
  background-image: url('images/home.jpg')
  height: 1080px
  padding-top: 60px
  background-size: cover
  
  .zaten-uye 
    text-align: center
    margin-top: 24px
    font-size: 1.24rem

  form
    margin: 50px auto 5px auto
    
    button
      margin-left: 16px
      background-color: $primary-color
      border-color: transparent 

      &:hover
        background-color: $last-color
        cursor: pointer
    a 
      color: $primary-color
      margin-top: 5px
  h1
    text-align: center
    color: $text-color
    font-family: $font-family
    text-transform: uppercase
    margin-top: 160px
    font-weight: 700
    line-height: 1.3
    text-shadow: 3px 0 8px rgba(0,0,0,0.3)
  